<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:panel header="Subir archivos">
		<p:staticMessage severity="warn" summary="ATENCIÓN"
			detail="Asegúrese primero de que la carpeta #{beanArchivo.path} exista." />
		<h:form enctype="multipart/form-data">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:fileUpload value="#{beanArchivo.file}" mode="simple"
				skinSimple="true" />

			<p:commandButton value="Submit" ajax="false"
				action="#{beanArchivo.upload()}" styleClass="ui-button-outlined"
				update="@form" />
		</h:form>
	</p:panel>
	<p:panel header="Lista de imágenes:">
		<h:form>
			<p:commandButton value="Leer archivos" update="@form"
				actionListener="#{beanArchivo.actionListenerFindImagenes()}" />
			<p:dataTable value="#{beanArchivo.listaImagenes}" var="imagen">
				<p:column>
					<h:outputText value="#{imagen}" />
				</p:column>
				<p:column>
					<p:graphicImage name="#{imagen}"></p:graphicImage>
				</p:column>
			</p:dataTable>
			<ui:repeat var="i" value="#{beanArchivo.listaImagenes}">
				<img src="#{i}" />
			</ui:repeat>
		</h:form>
	</p:panel>
</body>
</html>
